.body {
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.header {
    align-self: flex-start; 
    width: 100%; 
    padding: 20px; 
}

.Navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Logo {
    display: flex;
    left: 13.3%;
    height: 5%;
    top: 10%;
}

.subtext {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
        
}

.subtext2 {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    width: 600px;
}


.menubar {
    display: flex;
    gap: 25px;
    flex-direction: row;
    align-items: center;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    margin-left: auto;
}

.SignIn {
    display: center;
    width: 152px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.02em;
    color: black;
    border: black;
}

.SignUp {
    display: center;
    width: 152px;
    height: 64px;
    background-color: orange;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}

.button-in-up {
    display: flex;
    align-self: flex-end;
    gap: 10px
   
    
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: black;
}

.headcontent {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #000000;
    justify-content: flex-start;
    
}

.text {
    display: flex;
    flex-direction: column;
    width: 600px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: gray;
}

.GetStarted {
    display: center;
    width: 152px;
    height: 64px;
    margin-top: 59px;
    margin-right: 10px;
    background-color: orange;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}

.WatchVideo {
    display: center;
    justify-content: center;
    width: 100x;
    height: 50px;
    margin-top: 67px;
    font-size: 20px;
    border: none;
    text-decoration: underline;
    color: orange;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.ImageDiv {
    display: flex;
    align-self: flex-end; 
}



.headcontent2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: black;
}

.subcontent2 {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    gap: 20px;
    justify-content: space-around;
    align-items: center;

}

.button-sign-up-now {
    display: center;
    width: 152px;
    height: 64px;
    margin-top: 59px;
    margin-right: 10px;
    background-color: orange;
    border-radius: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}

.sign-up-now {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headcontent3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: black;
}

.page3-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.ImageDiv2 {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.page3-text-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    letter-spacing: 0.02em;
    color: black;
   
}

.ImageDiv3 {
    display: flex;
    justify-content: flex-start;
}

.page4-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ImageDiv4 {
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70px;
    width: 100px;
    flex-wrap: wrap;
}

.last-button {
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
